.success-content{
    width: 100vw;
    height: 77vh;
    background-image: url("http://localhost:8080/football_pitch/imgs/layout2.jpg");
    background-size: 100vw 85vh;
}
#staff-home-user-name {
    font-family: Bahnschrift;
    float: right;
    margin-right: 2vw;
    font-size: 1.5vmax;
    color: #fdbd00;
}