#staff-check-out-booking-content {
    width: 100vw;
    height: 70vh;
    background-image: url("http://localhost:8080/football_pitch/imgs/layout2.jpg");
    background-size: 100vw 70vh;
}

#staff-check-out-booking-form {
    padding-top: 5vh;
    height: 40vh;
}
.staff-check-out-booking-label {
    font-size: 1.3vmax;
    font-family: Bahnschrift;
    color: white;
    margin-bottom: 1vh;
}
.staff-check-out-booking-input {
    border-radius: 6px;
    font-size: 1.5vmax;
    font-family: Bahnschrift;
    margin-bottom: 4vh;
    float: right;
    background-color: white;
    color: black;
}
#staff-check-out-booking-div-1 {
    float: left;
    margin-left: 27vw;
    margin-right: 10vw;
}
#staff-check-out-booking-div-2 {
    float: left;
}

#staff-check-out-booking-btn-check-out {
    clear: both;
    font-family: Bahnschrift;
    border-radius: 6px;
    width: 9vw;
    font-size: 1.3vmax;
    height: 6vh;
    background-color: rgb(253, 189, 0);
    font-weight: bold;
    border-top-color: black;
    border-top-width: unset;
    border-top-style: solid;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: unset;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: unset;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: unset;
    margin-left: 46.2vw;
    margin-bottom: 2vh;
}
#staff-check-out-booking-btn-esc {
    clear: both;
    font-size: 1.5vmax;
    color: #FDAB0A;
    font-family: Bahnschrift;
    text-decoration: none;
    margin-left: 47.7vw;
}